/* Merged global styles from ../utils/nav_fooder_css.css and ../styles/styles.css */

:root {
  --body-bg-color: #1e1e1e;
  --body-text-color: #fff;

  /* --white-bg */
  --white-bg: #fff;

  --primary-color: #3498db;
  --secondary-color: #2c3e50;
  --accent-color: #e74c3c;
  --light-color: #ecf0f1;
  --dark-color: #2c3e50;
  --text-color: #333;
  --text-light: #777;
  --bg-color: #f9f9f9;
  --white: #fff;
  --black: #000;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --transition: all 0.2s ease;

  --border-b: 1px solid rgb(158, 158, 158);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: var(--body-text-color);
  background-color: var(--body-bg-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 80px 0;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 20px;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

h2::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background-color: var(--primary-color);
}

p {
  /* margin-bottom: 15px; */
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: var(--transition);
}
a:hover {
  color: var(--accent-color);
}

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
  transition: var(--transition);
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
.btn:hover {
  background-color: var(--secondary-color);
  color: var(--white);
  transform: translateY(-3px);
  box-shadow: var(--box-shadow);
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .nav-links {
    position: fixed;
    top: 60px;
    left: -100%;
    background-color: var(--white);
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transition: var(--transition);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  .nav-links.active {
    left: 0;
  }
  .nav-links li {
    margin: 15px 0;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
  section {
    padding: 60px 0;
  }
}
