:root {
}

/* Tutorials Section */
.tutorial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.tutorial-card {
  background-color: var(--card-bg-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

.tutorial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.tutorial-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-bottom: 10px;
}

.read-more {
  display: inline-block;
  margin-top: 15px;
  font-weight: 600;
}

/* tutorial secation page card */

.tutorial-card-v1 {
  background-color: var(--card-bg-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

.tutorial-card-v1:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.tutorial-card-v1 > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content-v1 {
  padding: 5px 10px;
  cursor: default;
}

.card-content-v1 h3 {
  margin-bottom: 3px;
}

.card-content-v1 > p {
  line-height: 1.2;
  margin-bottom: 5px;
  color: var(--second-text-color);
}

.user-div-v {
  display: flex;
  margin: 10px 0 10px 0;
}

.user-div-v > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: auto 7px;
}

.username-date-v {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.username-date-v > span {
  line-height: 1.2;
  color: var(--second-text-color);
}
