:root {
  --card-bg-color: rgb(150, 149, 149);
  --border-b: 1px solid rgb(140, 140, 140);

  --second-text-color: #2b2b2bff;
}

/* From Uiverse.io by guilhermeyohan */
.checkbox-apple {
  display: flex;
  position: relative;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: center;
}

.checkbox-apple label {
  position: absolute;
  width: 45px;
  height: 20px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #b3b3b3, #e6e6e60e);

  /* background-color: var(--card-bg-color); */

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3),
    inset 0 0 4px 1px rgba(27, 27, 27, 0.5);

  cursor: pointer;
  border: var(--border-b);
  transition: all 0.3s ease;
}

.checkbox-apple label:after {
  content: "";
  position: absolute;
  /* top: 1px; */
  /* left: 1px; */
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #dedede;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3),
    inset 0 0 4px 1px rgba(27, 27, 27, 0.5);
  transition: all 0.3s ease;
}

.checkbox-apple input[type="checkbox"]:checked + label {
  background: linear-gradient(to bottom, #4cd964, #5de24e);
}

.checkbox-apple input[type="checkbox"]:checked + label:after {
  transform: translateX(25px);
}

.checkbox-apple label:hover {
  /* background: linear-gradient(to bottom, #b3b3b3, #323232); */
  /* background-color: #2b2b2b; */
}

.checkbox-apple label:hover:after {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.yep {
  /* top: 0; */
  /* left: 0; */
  width: 50px;
  height: 20px;
  opacity: 0;
}

/* project-card-v1 */

.contenr-project-s {
}

.projects-page-se {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  margin-top: 20px;
}

.project-card-v1 {
  background-color: var(--card-bg-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

.project-card-v1:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.project-card-v1 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content-p {
  padding: 10px;
  cursor: default;
}

.card-content-p h3 {
  margin-bottom: 10px;
}

.card-content-p > p {
  color: var(--second-text-color);
  line-height: 1.2;
  font-size: 0.95rem;
}
